@font-face {
  font-family: "YanoneKaffeesatz-Bold";
  src: url("./YanoneKaffeesatz/YanoneKaffeesatz-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "YanoneKaffeesatz-ExtraLight";
  src: url("./YanoneKaffeesatz/YanoneKaffeesatz-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "YanoneKaffeesatz-Light";
  src: url("./YanoneKaffeesatz/YanoneKaffeesatz-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
