$basColRed: #e62e31;
$basColGre: #4f4f4f;

.card-work-user {
  background: $basColGre; 
  .gallery-border-card {
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 2px;
    background: $basColGre;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    .slide-title-card-gallery {
      width: 100%;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.3) 100%);
      position: absolute;
      bottom: 0;
    }
    .slide-title-card-gallery-open {
      height: 130px;
      transition: height 0.4s ease; 
    }
    .slide-title-card-gallery-closed {
      height: 0px;
      transition: height 0.4s ease;
    }
    img {
      width: 100%;
      height: 100%;
    }
    h3 {
      font-family: "YanoneKaffeesatz-Bold", sans-serif;
      font-size: 35px;
      margin: 0;
      margin-top: 5px;
      color: white;
      z-index: 300;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 70%;
        height: 2px;
        background: $basColRed;
        bottom: 0;
      }
    }
    p {
      font-family: "YanoneKaffeesatz-Light", sans-serif;
      color: white;
      font-size: 18px;
      margin: 0;
      margin-top: 5px;
    }
  }
}

.rainbow {
  position: relative;
  z-index: 1;
  height: 150px;
  border-radius: 3px;
  overflow: hidden;
  padding: 0;
  transition: padding 0.1s ease;
  &:hover {
    padding: 3px;
    transition: padding 0.1s ease;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#e62e31, #e62e31),
      linear-gradient(transparent, transparent), linear-gradient(#e62e31, #e62e31);
      animation: rotate 3s linear infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
